@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
}

.peep {
    font-size: 3rem;
}

.peep img {
    max-width: 90vw;
}

#disco {
    position: absolute;
    bottom: 15px;
}